{% extends 'notes/base.html' %}

{% block page_header %}
<h3>Раздел: {{ topic }}</h3>
{% endblock page_header %}

{% block content %}
<p>
  <a href="{% url 'notes:new_note' topic.id %}" class="btn btn-success">Добавить новую запись</a>
</p>

{% for note in notes %}
<br>
<div class="card">
  <div class="card-header">
    <h4> {{ note.title }} </h4>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">{{ note.text|linebreaks }}</p>

  </div>
  <div class="card-footer text-body-secondary">
    <div class="container text-center">
      <div class="row align-items-end">
        <div class="col">
          2 days ago
        </div>
        <div class="col">
          <a href="{% url 'notes:edit_note' note.id %}" class="btn btn-success">Редактировать</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% empty %}
<p>В этом разделе нет ни одной записи.</p>
{% endfor %}

{% endblock content %}