{% extends "notes/base.html" %}


{% block page_header %}
<h1>Разделы</h1>
{% endblock page_header %}

{% block content %}
<ul class="list-group list-group-flush">
  {% for topic in topics %}
   <li class="list-group-item">
    <p><h3><a class="text-decoration-none" href="{% url 'notes:topic' topic.id %}">{{ topic }}</h3></a></p>
  </li>
  {% empty %}
  </ul><p class="font-monospace">Пока нет ни одного раздела.</p>
  {% endfor %}
</ul>
<a href="{% url 'notes:new_topic' %}" class="btn btn-success">Добавить новый раздел</a>
{% endblock content %}